%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title The Town Hall
    %link{:href => '/stylesheets/style.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection' }

  %body
    #page
      = yield
    #contact
      %span
        %a{:href => 'http://twitter.com/atmos'} Corey
      %span
        %a{:href => 'http://twitter.com/jlarrimore'} Jeffrey
      %span
        %a{:href => 'http://twitter.com/ubermajestix'} Tyler
