body {
  font-family:arial;
  font-size:13px;
  font-weight:bold;

  background-color: #fff;
  color: 000;
}

a:link, a:visited {
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

#page {
  margin: 45px auto auto auto;
}

#contact {
  text-align: center;
  padding: 2px;
}

#contact span {
  padding: 0px 4px;
}

#contact a {
  color: #000;
}

#friends {
  text-align: center;
  padding: 2px;
}

#friends span {
  padding: 0px 4px;
}

#friends a {
  color: #000;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
